= image_tag 'wings_logo.gif'
= image_tag '/icons/button.gif'
= image_tag 'http://www.web-deli.com/image/linkbanner.gif'
= image_tag 'fish.jpg',alt: 'SAKANA', size:'120x90'
= image_tag 'fish.jpg',alt: 'SAKANA', width: 120, height: 90